# Deploy MkDocs and push to GitHub Pages
---
name: Deploy MkDocs
# Install, build, and deploy MkDocs to GitHub Pages using content from the Docs folder.

on:
  push:
    branches:
      - dev
    paths:
      - 'Docs/**'
      - '.github/workflows/MkDocs.yml'
      - './mkdocs.yml'
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Install Graphviz
        uses: tlylt/install-graphviz@v1


      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs mkdocs-material mkdocs-graphviz

      - name: Build & Deploy MkDocs
        run: |
          mkdocs build --config-file Docs/mkdocs.yml
          mkdocs gh-deploy --force