name: Run Pester Tests

on:
    push:
        branches: ["dev", "main"]
    pull_request:
        branches: ["dev"]

jobs:
    test:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v5

            - name: Install PSGraph
              shell: pwsh
              run: Install-Module -Name PSGraph -Force -Scope CurrentUser

            - name: Run Pester tests
              uses: PSModule/Invoke-Pester@v4
              id: action-test
              with:
                  Path: "./Tests"
                  TestResult_Enabled: "true"
                  TestResult_OutputPath: "./test-results.xml"
                  CodeCoverage_Enabled: "true"
                  CodeCoverage_Path: "./Src"
                  CodeCoverage_OutputPath: "./coverage.xml"
                  CodeCoverage_OutputFormat: "JaCoCo"
                  Prescript: |
                      Import-Module PSGraph

            - name: Process test results
              if: always()
              run: |
                  Write-Output "Total tests: ${{ steps.action-test.outputs.TotalCount }}"
                  Write-Output "Passed tests: ${{ steps.action-test.outputs.PassedCount }}"
                  Write-Output "Failed tests: ${{ steps.action-test.outputs.FailedCount }}"
                  Write-Output "Failed blocks: ${{ steps.action-test.outputs.FailedBlocksCount }}"
                  Write-Output "Failed containers: ${{ steps.action-test.outputs.FailedContainersCount }}"
                  Write-Output "Test outcome: ${{ steps.action-test.outputs.Result }}"
              shell: pwsh

            - name: Take action based on test outcome
              if: steps.action-test.outputs.Result == 'Passed'
              run: echo "All tests passed! Ready to proceed with deployment."
